.container{
    top:50%;
    left: 10%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column 2fr;
}
.card img{
    /* border:1px solid black; */
    width: max-content;
   
}
.card{
    border:1px solid black;
    text-align: center;
    
    margin: 5px;
}
.card img{
    width: 300px ;
    padding: 5px;
}
.title{
    font-weight: bold;
    margin: 20px;
}

button{
    border:2px solid gray;
    background-color: rgb(147, 99, 27);
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px ;
}
button:hover{
    box-shadow: 0 0 5px gray inset;
}
.cart{
    width: 200px;
    float: right;
    text-align: center;
    border: 1px solid black;
    overflow-y: scroll;
    height: 500px;
}
.cartimg > img{
    width:200px ;

}