* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #030303;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  .accessories ul li {
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
   padding-right: 0px;
    margin: 55px;
    padding: 0px;
  }
}
hr{
  width: 500px;
}

.menu-bar nav a{

    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
   
}
.menu-bar nav{
    margin-left:20% ;
}
.menu-bar a:hover{
    color:lightblue;
    font-weight: 600;
}
#searchbar{
   
    display: flex;
    height: 30px;
    
    align-items: center;
}
#inputsearch{
    margin-left: 400px;
    
}

#searchBtn{
    margin-left: 0px;
    background-color: lightblue;
}
.accessories ul li {
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 60px;
    text-decoration: none;
    display: inline-block;
    padding-right: 60px;
    margin: 55px;
    
}
.accessories ul li a{
  color: black;
  text-decoration: none;
    

}
.accessories{
  padding: 20px;
}
.accessories ul li a:hover{
  color: lightblue;
  font-weight: 600;
}
.heading2{
  text-align: center;
}
#para1{
  text-align: center;
  
}
.collection{
  display: flex;
  justify-content: space-between;
}
.collection .headercollection{
  justify-content: center;
}

.headerfeatured{
  text-align: center;
}
.featuredproduct{
  display: flex;
  justify-content: space-between;
}
.featureimg img{
  width: 250px;
  height: 250px;
  border-radius: 20px;

  
}
#featureadd{
  background-color: lightblue;
  font-weight: 600;
  color: #030303;
}
@media only screen and (max-width: 600px) {
nav a{
  /* .menu-bar nav a{

    display:none;
    padding: 0;
    text-decoration: none;
    color: black;
    */
}
.menu-bar  nav {
    margin-left: 0;
    display: inline;
    padding: 0;
    
}
#heading{
  font-size: 16px;
  display: inline;
}
#searchBtn{
  margin-left:230px;
}
#inputsearch{
 position: absolute;
 right: 250px;
}
.accessories ul li{
  display: inline;
  padding: 10px;
  margin: 0px;
  margin-left: 10px;
  
}
.featureimg img{
  width: 400px;
  height: 400px;
  border-radius: 20px;

  
}
.featuredproduct{
  display: block;
  justify-content: space-between;
}
.collection{
  display: block;
  justify-content: space-between;
}
.collection .headercollection{
  justify-content: center;
}

}









header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #ff4757;
}

.nav{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}

.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
}

img{
  width: 100%;
}

.container{
  /* max-width: 1200px;
  padding: 4rem; */
  margin: auto;
  width: 100%;
}

h2.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#ffffff;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}

.food-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}

.pic{
  overflow: hidden;
}

.pic:hover img{
transform: scale(1.5);
}

.food-img{
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.food-title{
  font-size: 1rem;
  font-weight: 600;
  color:#ff6348;
}

.food-price{
  font-weight:500 ;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2ed573;
  color:white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  padding: 12px 20px;
  background-color:#2f3542;
  color:#fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}





.product img{
  width: 250px;
  height: 250px;
}
.products{
  display: flex;
  justify-content: space-between;
}


.toolbar {
  float: right;
  position: absolute;
  bottom: 80%;
  left: 90%;
}
hr{
  width: 1500px;
}

















* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f0f2f5;
}

.container {
  /* width: 100%; */
  margin: 0 auto;
  max-width: 1160px;
}

.btn__small {
  padding: 5px 10px;
  border-radius: 10px;
  border: 0px;
  background: #40a832e5;
  color: #fff;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0px;
  background: #40a832e5;
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

.btn_remove {
  background: #ec4949;
}

h4 {
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 83px;
  background: #40a832e5;
  box-shadow: 0 2px 10px -2px gray;
  color: #fff;
}

nav > * {
  margin: 20px;
}

.cart__counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #eb3636;
  border-radius: 50%;
  position: relative;
  top: 0%;
  left: 0%;
}

.cart__counter span {
  color: #fff;
  position: relative;
  /* top: 30%;
  left: 30%; */
  font-size: 20px;
  margin: 8px;
}

.fa-shopping-cart {
  color: #fff;
  font-size: 25px !important;
}

.cart__items {
  animation: show__cart 1s ease-in-out;
  position: absolute;
  /*
  for desktop sites
   right: 21%;
  top: 11%; */
  /* for laptops */
  right: 10%;
  top: 18%;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 10px;
  z-index: 2;
  width: 700px;
  box-shadow: 2px 2px 10px rgba(151, 146, 146, 0.924);
  border-bottom: 1px solid #f6b08c;

}

.cart__items:before {
  content: '';
  position: absolute;
  top: -5%;
  right: 3%;
  width: 30px;
  height: 50px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  box-shadow: 2px 0px 10px -2px rgb(255, 255, 255);
  /* color: #fff; */
}

.cart__items.active {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart_item {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px;
  border-bottom: 1px dashed #f6b08c;
}

.cart_item >* {
  margin: 20px;
}

.cart_item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.total__cost {
  /* padding: 20px; */
  position: relative;
  top: 80%;
  left: 3%;
}

.check_out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  grid-gap: 10px;

}

.products .product__element {
  padding: 20px;
  width: 380px;
  height: 380px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(194, 182, 182, 0.9);
  border-radius: 10px;

}

.products .product__element img {
  position: relative;
  /* top: 10%; */
  left: 10%;
  width: 60%;
  border-radius: 20px;
}

.products .product__element .product__name {
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
  /* margin-left: 10px; */
}

.products .product__element .product__price {
  font-size: 20px;
  font-style: italic;
  margin: 10px;
}

.btn__add__to__cart {
  position: relative;
  /* top: 10%; */
  bottom: 0;
  background: #40a832e5;
  color: #fff;
  width: 100%;
  /* margin: 0 auto; */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

}

.btn__add__to__cart:hover {
  background: #40a832c2;
}

@keyframes show__cart {

  0% {
      opacity: 0;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }

}

@media only screen and (max-width : 480px) {
  .products {
      grid-template-columns: 1fr;

  }

  .product__element {
      margin: 20px auto;
  }

  .cart__items {
      width: 340px;
      right: 6%;
      top: 8%;
  }

  .cart_item {
      width: 340px;
      /* padding: 10px; */
  }

  .cart_item > * {
      margin: 5px;
      padding: 5px;
  }

  .check_out {
      font-size: 12px;
  }


}

@media only screen and (min-width : 481px) {
  .products {
      grid-template-columns: 1fr 1fr;

  }

  .product__element {
      margin: 20px auto;
  }
}

@media only screen and (min-width : 800px) {
  .products {
      grid-template-columns: repeat(3, 1fr);

  }

  .cart__items {
      right:3%;
      top: 8%;
  }

  .product__element {
      margin: 20px auto;
  }
}
